<!DOCTYPE html>
<html lang="en">

<head>
    <% include assets/partials/header %>
    <title>reubensua</title>
</head>

<body>
    <div class="container-fluid">
        <% include assets/partials/nav %>

        <div class="row intro">
            <p id='output'></p>
            <p>You can view my certifications <b><a href="display">here</a></b></p>
        </div>

        <% var count = 0; %>
            <% postlist.forEach(function(post) { %>
                <div class="row flex">
                    <div class="col-md-6 box" id="<%- count %>" style="background-color: <%- post.color %>">
                        <button class="exit btn btn-primary">Close</button>
                        <h1><%= post.title %></h1>
                        <p><%= post.preview %></p>
                        <div class="hidden-posts">
                          <p><%- post.tech %></p>
                          <p><%- post.body %></p>
                        </div>
                        <p><u><a href="<%= post.url %>">View the Source Code here</a></u></p>
                    </div>

                    <div class="col-md-6 opp-box" style="background-image: url(<%- post.image %>)">
                      &nbsp;
                    </div>
                </div>
        <% count++}); %>
    </div>

    <footer>
        <% include assets/partials/footer %>
        <% include assets/partials/ga %>
    </footer>
</body>

</html>
