<!DOCTYPE html>
<html lang="en">

<head>
    <% include assets/partials/header %>
    <title>reubensua</title>
</head>

<body>
    <div class="container-fluid">
      <% include assets/partials/nav %>

      <div class="row intro">
        <p>I am a self taught web-developer, proficient in Java, Groovy and Javascript.</p>
        <p>You can view my certifications <b><a href="display">here</a></b></p>
      </div>
        <div class="row flex">
          <% var count = 0; %>
            <% postlist.forEach(function(post) { %>
                <div class="col-md-4 box" id="id-<%- count %>" style="background-color: <%- post.color %>">
                    <h1><%= post.title %></h1>
                    <p>
                      <%= post.preview %>
                    </p>
                    <h3> Technology Used</h3>
                    <p class="postbody">
                      <%= post.tech %>
                    </p>
                    <h3>What I would do Better</h3>
                    <p class="postbody">
                      <%= post.body %>
                    </p>
                    <p class="postbody">
                      <a href="<%= post.url %>">View the Source Code here</a>
                    </p>
                </div>
              <% count++}); %>
        </div>
    </div>

    <footer>
        <% include assets/partials/footer %>
    </footer>
</body>

</html>
